//html {background-image: }
nav a:nth-child(1) {
  float: left;
}
nav a {
  padding: 5px 18px;
  text-decoration: none;
  margin-top: 17px;
  display: inline-block;
  float: right;
  font-family: 'arial', sans-serif;
  font-size: 19px;


}
nav a:visited, a:link {
  color: #ffffff;

}
nav a:hover {
  color: #8f8f8f;


}
nav a.active {
  color: #001a00;

}

.clearfix {
  overflow: auto;
  background-color:  #808080;
  height: 70px;
  margin-bottom: 13px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


