
<div class="flex-container" id="container">

  <div class="flex-item" id="cardContainer"
       *ngFor="let user of users; let i = index"
       (click)="navigateToProfile(user)">

    <div class="card">
      <div class="back"></div>
      <img [src]="user.picture.large"
           class="image"
           alt="nothing "/>
      <div class="Candara">
        <div id="title">{{user.currentTitle}}</div>
        <h2 id="demo">{{user.currentData }}</h2>
      </div>
      <div class="icon-bar">
          <button class="btn "
                  (mouseover)="setInfo(user,'name')">
            <i class="fa fa-user-o"></i>
          </button>
        <button class="btn"
                (mouseover)="setInfo(user,'email')">
          <i class="fa fa-envelope-o"></i>
        </button>
        <button class="btn"
                (mouseover)="setInfo(user,'dob')">
          <i class="fa fa-calendar"></i>
        </button>
        <button class="btn"
                (mouseover)="setInfo(user,'address')">
          <i class="fa fa-map-marker"></i>
        </button>
        <button class="btn"
                (mouseover)="setInfo(user,'phone')">
          <i class="fa fa-phone"></i>
        </button>
      </div>
    </div>
  </div>
  </div>
<div *ngIf="isLoading">
  Loading ...
</div>
<div infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScroll()">


</div>

