.card {
  width: 461px;
  height: 515px;
  border-radius: 3px;
  border: 1px solid rgb(240, 240, 240);
  background: #ffffff;
  display: block;
}

.back {
  height: 202px;
  background-color: rgb(240,240,240);
  border-bottom: 2px solid #ddd;
  margin-bottom: 100px;
}

img {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  height:175px;
  width: 175px;
  left:0;
  right:0;
  top: 94px;
  margin: auto;

}
.Candara {
  font-family: 'Candara', sans-serif;
  text-align: center;
  color:rgb(180, 180, 180);
  font-size: 20px;
  margin-bottom: 42px;
}

.icon-bar {
  top: 457px;
  position: absolute;
  width: 462px;
}

.btn {
  background-color: #ffffff;
  border: none;
  color: LightGray;
  font-size: 35px;
  cursor: pointer;
  top: 20px;
  height: 50px;
  float: left;
  width: 92px;
  text-align: center;
}

.active, .btn:hover {
  border-top: 3px solid   #001a00;
  color:  #001a00;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;


}

.flex-container .flex-item {
  margin: 3px;
  position: relative;
  padding: -5px;
}

h2{
  color:#001a00;font-size: 27px;
}
.btn2 {
  background-color: #ffffff;
  border: none;
  color: LightGray;
  font-size: 35px;
  cursor: pointer;
  top: 20px;
  height: 50px;
  float: left;
  width: 50px;
  text-align: center;
}
