
h2{
  text-align: center ;
  color: #5f7081;
  font-family: 'Candara', sans-serif;
  font-size: 30px;

}
form {
  background-color: rgba(255, 255, 255, 0.51);
  width: 700px;
  height: 880px;
  //margin: 135px auto 0;
  overflow: auto;
  border-radius: 4px;
  border: solid 1px rgba(143, 143, 143, 0.6);
//margin: auto;
margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}


label {
  display: inline-block;
  color: #354557;
  top: 100px;
  font-size: 1.25em;
  transition: all .2s ease;
  z-index: 10;
  position: relative;
  top: -30px;
  font-family: 'Candara', sans-serif;


}

.input-container {
  width: 75%;
  position: relative;
  margin: 63px auto -25px;
}
.input-container .flex{
  display: flex;
  justify-content: space-around;
  color: #354557;
  font:small-caption;font-size:20px

}

input[type="text"] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0 5px 0;
  color: #001a00;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px  #001a00;
  outline: none;
  z-index: 20;
  font-family: 'arial', sans-serif;

}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
  top: -60px;
  font:small-caption;font-size:16px
}
input[type="password"] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0 5px 0;
  color: #001a00;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px  #001a00;
  outline: none;
  z-index: 20;
}

input[type="password"]:focus ~ label, input[type="password"]:valid ~ label {
  top: -60px;
  font:small-caption;font-size:16px
}

input[type="submit"] {
  cursor: pointer;
  margin: auto;
  width: 34%;
  background-color:  #001a00;
  color: #E0F2F1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
  border-width: 0 0 1px 0;
  border-radius: 50px;
  outline: none;
}

input[type="submit"]:hover {
  background: rgba(219, 219, 231, 0.91);
  border-width: 0 0 4px 0;
  color: #001a00;
}

input[type="submit"]:active {
  background: rgba(191, 189, 187, 0.93);
  border-width: 0 0 0px 0;
}
P{
  color: red;
  font-size: 14px;
  margin-top: -20px;
  font-family: 'Candara', sans-serif;
}

