<form [formGroup]="registrationForm"
      (ngSubmit)="submitForm()">
  <h2> Sign Up</h2>
  <div class="input-container">
    <input type="text"
           [formControlName]="'fname'"  required="required" />
    <label>First Name </label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('fname').hasError('required')">
      <P>First name is required.</P>
    </div>
  </div>

  <div class="input-container">
    <input type="text"
           [formControlName]="'lname'" required="required"/>
    <label>Last Name </label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('lname').hasError('required')">
      <P>Last name is required.</P>
    </div>
  </div>
  <div class="input-container">
    <input type="text"
           [formControlName]="'address'"  required="required" />
    <label>Address</label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('address').hasError('required')">
      <P>Address is required.</P>
    </div>
  </div>
  <div class="input-container">
    <input type="text"
           [formControlName]="'phone'"  required="required" />
    <label>Phone Number</label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('phone').hasError('required')">
      <P>Phone number is required.</P>
    </div>
  </div>
  <div class="input-container">
    <input type="text"
           [formControlName]="'email'"  required="required" />
    <label>Email</label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('email').hasError('required')">
      <P>Email is required.</P>
    </div>
  </div>
  <div class="input-container">
    <input type="password"
           [formControlName]="'pass'"  required="required"/>
    <label>Password</label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('pass').hasError('required')">
      <P>Password is required.</P>
    </div>
  </div>
  <div class="input-container">
    <div class="flex">
      <input type="radio" name="gender" value="male" > Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other
    </div>
  </div>
  <div class="input-container">
    <input type="submit" value="Sign Up"/>
  </div>
</form>
