<div class="card" *ngIf="user">
  <div class="back"></div>

  <img [src]="user.picture.large"
       alt="nothing "/>

  <p> <a> Name:</a> {{user.name.first}}   {{user.name.last}} </p>
    <p> <a> Gender:</a> {{user.gender}} </p>
    <p> <a>Registered:</a> {{user.registered.age}} month</p>
    <p> <a>Email:</a> {{user.email}} </p>
    <p> <a>Phone:</a> {{user.phone}} </p>
    <p> <a>Birthday:</a> {{user.dob.date}}      </p>
    <p> <a>Age: </a>{{user.dob.age}} </p>
    <p> <a>Location:</a> {{user.location.city}} </p>
<agm-map [latitude]="lat"
         [longitude]="long"
         [zoom]="zoom">
  <agm-marker [latitude]="lat"
              [longitude]="long"></agm-marker>
</agm-map>
</div>
