.card {
    width: 50%;
    border-radius: 4px;
    margin: 62px 0px 62px 350px;
    display: block;
    border: 2px solid rgb(240, 240, 240);
    background: #ffffff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);



  img {
      position: absolute;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 50%;
      padding: 5px;
      height:200px;
      width: 200px;
      left:0;
      right:0;
      top: 187px;
      margin: auto;


    }
    p {
      font-family: 'Candara', sans-serif;
      color: #001a00;
      font-size: 17px;

      text-align: center;
      a {
        font-weight: bold;
        color: rgb(116, 116, 116);

      }

    }
  agm-map{
    height: 300px;
    width: 100%;
    border-radius: 10%;
  }




}

.back {
  height: 202px;
  background-color: rgb(240,240,240);
  border-bottom: 1px solid #ddd;
  margin-bottom: 100px;
}







