<meta name="viewport" content="width=device-width, initial-scale=1">

<form [formGroup]="registrationForm"
      (ngSubmit)="submitForm()">
  <h2> Login</h2>
  <div class="input-container">
    <input type="text"
           [formControlName]="'username'"  required="required" />
    <label>Username </label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('username').hasError('required')">
      <P>Username is required.</P>
    </div>
  </div>

  <div class="input-container">
    <input type="password"
           [formControlName]="'password'"  required="required"/>
    <label>Password</label>
    <div class="text-danger"
         *ngIf="isSubmitted && registrationForm.get('password').hasError('required')">
      <P>Password is required.</P>
    </div>
  </div>

  <div class="input-container">
  <label>
    <input type="checkbox"  name="remember"> Remember me
  </label>
  </div>


  <div class="input-container">
    <input type="submit" value="Login" />
  </div>
</form>
