/* You can add global styles to this file, and also import other style files */
html, body, app-root {
  height: 100%;
  margin: 0;
  width: 100%;

}

body {
  background-image: url('src\assets\images\nn.png');

  /*background-color: #cfcfcf;*/
  /*background-size: 100%;*/
}
